.main {
  height: 85vh;
}
.profile-main {
  width: 45%;
  padding-top: 5%;
}
.files-main {
  padding: 50px;
  width: 55%;
}
.file-container {
  background-color: rgb(46, 46, 46);
  border-radius: 8%;
  height: 100%;
  width: 100%;
  padding: 50px;
}
