.main {
  height: 85vh;
}
.profile-main {
  width: 45%;
  padding-top: 5%;
}
.files-main {
  padding: 50px;
  width: 55%;
}
.file-container {
  background-color: rgb(46, 46, 46);
  border-radius: 8%;
  height: 100%;
  width: 100%;
  padding: 40px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.back-button {
  color: #09ffa7;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin-left: 60px;
  margin-bottom: 20px;
}
.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  border: 2px solid #09ffa7;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
}
